
  <div class="intro">

	<h2>About Me</h2>
	<p>My name is Anukrity Jain and I am a software programmer. I specialise in a multi-disciplined approach to my work incorporating design and development. I have a vast experience of coding in C++.</p>
	<p>My quest for learning new technologies led me to developing and publishing the following mobile apps</p>
	<ul>
		<li><strong><a href="https://play.google.com/store/apps/details?id=com.ezeeideas.magicflood&hl=en" target="_blank">Magic Flood</a></strong></li>
		<li><strong><a href ="https://play.google.com/store/apps/details?id=com.ezeeideas.wordjam&hl=en" target="_blank">Word Jam</a></strong></li>
	</ul>
	 
	<p>Currently, learning Web Development and developing a social integration webapp that allows users to post challenges related to image filters and custom captions, and also provides an ecosystem where users can browse, search, comment and share their creations.</p> 
	<p>Based in Singapore, I studied at the University in India, where I gained a 1st Class Masters degree in Computer Application.</p>
	

	<iframe width="560" height="315" src="https://www.youtube.com/embed/z8GHf-aELjY?rel=0" frameborder="0" allowfullscreen></iframe>

  </div>