<div  class= "cnt">
	<div class="intro">
		<h2>Contact Me</h2>
		<p>You can drop me an <a href="mailto:anukrity.jain@gmail.com">email</a> or visit my <a href="https://github.com/AnukrityJain" target="_blank">Github page</a>.</p>
	</div>
</div>