<!DOCTYPE html>
<html>
  <head>
    <title>TechLadies Task</title>
   

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= javascript_include_tag    'application', 'data-turbolinks-track': 'true' %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <a class="navbar-brand" href="/">Anukrity's TechLadies Website</a>
  	    </div>
  	    <ul class="nav navbar-nav">
  	      <li><a href="/about">About Me</a></li>
  	      <li><a href="/blogs">Blog</a></li>
  	      <li><a href="/contact">Contact Me</a></li>
  	    </ul>
  	  </div>
  	</nav>
    <div class="belowNavbar">
    <%= yield %>
    </div>
  </body>
</html>
